.eachCafe:hover {
    background-color: #f2f2f2;
    -webkit-transform: scale(1.03);
}

.eachCafe {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 1.2em;
    text-align: center;
    margin: 20px;
}

.renderCafe {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    max-width: 90%;
}

.AllIn {
    display: flex;
    width: 95%;
    margin: auto;
}