.AboutUs {
  text-align: center;
  width: 70%;
  margin: auto;
  font-size: 1.3em;
  padding: 2em;
  font-weight: 100;
}

.boxes {
  display: flex;

}

.boxes div {
    background-color: #2A324B;
    margin: 2em;
    padding: 3em;
    align-items: center;
}

.boxes p {
  color: #E3DBD8;
}


@media (max-width: 1200px) {
  .boxes {
    flex-direction: column;
  }
}